.items {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-column-gap: 1px;
  font-size: 18px;
  border: solid 1px black;
  border-top: 0;
  background-color: black;
}

.item {
  background-color: white;
  padding: 4px;
}
